html {
	box-sizing: border-box;
	background-color: #2F2F4F;;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  overflow: hidden;
}

.stars {
  height: 100%;
  width: 100%;
  background: transparent url("../img/stars.svg") ;

}