html {
	box-sizing: border-box;
	background-color: #2F2F4F;;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 200vh;
  overflow: hidden;
}

.stars {
  height: 100%;
  width: 100%;
  background: transparent url("../img/stars.svg") ;
  -webkit-animation: star-scale 18s ease-in-out infinite alternate;
  animation: star-scale 18s ease-in-out infinite alternate;

}

@-webkit-keyframes star-scale {
  from { -webkit-transform: scale(1, 1); }
  to { -webkit-transform: scale(1.4, 1.8); }
}

@keyframes star-scale {
  from { transform: scale(1, 1); }
  to { transform: scale(1.4, 1.8); }
}


.ship {
  left: calc(50% - 50px);
  position: absolute;
  top: calc(50% - 50px);
  width: 100px;
  -webkit-animation: ship-move 6s ease-in-out infinite;
  animation: ship-move 6s ease-in-out infinite;
}

@-webkit-keyframes ship-move {
  0% { -webkit-transform: translate(0, 0); }
  25% { -webkit-transform: translate(-80px, -23px); }
  35% { -webkit-transform: translate(-65px, -23px); }
  60% { -webkit-transform: translate(10px, 0px); }
  70% { -webkit-transform: translate(82px, 22px); }
  80% { -webkit-transform: translate(0, 15px); }
  100% { -webkit-transform: translate(0, 0); }
}

@keyframes ship-move {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-80px, -23px); }
  35% { transform: translate(-65px, -23px); }
  60% { transform: translate(10px, 0px); }
  70% { transform: translate(82px, 22px); }
  80% { transform: translate(0, 15px); }
  100% { transform: translate(0, 0); }
}

.asteroid {
  left: 100px;
  position: absolute;
  top: 300px;
  width: 300px;
  -webkit-animation: asteroid-rotate 3s ease-in-out infinite alternate;
  animation: asteroid-rotate 3s ease-in-out infinite alternate;
}

@-webkit-keyframes asteroid-rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(860deg); }
}

@keyframes asteroid-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(860deg); }
}











  