html {
	box-sizing: border-box;
	background-color: #2F2F4F;;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 200vh;
  overflow: hidden;
}

.stars {
  height: 100%;
  width: 100%;
  background: transparent url("../img/stars.svg") ;
   -webkit-animation: star-scale 18s ease-in-out infinite alternate;
   animation: star-scale 18s ease-in-out infinite alternate;

}

@-webkit-keyframes star-scale {
  from { -webkit-transform: scale(1, 1); }
  to { -webkit-transform: scale(1.4, 1.8); }
}

@keyframes star-scale {
  from { transform: scale(1, 1); }
  to { transform: scale(1.4, 1.8); }
}


.ship {
  left: calc(50% - 50px);
  position: absolute;
  top: calc(50% - 50px);
  width: 100px;

}


.asteroid {
  left: 100px;
  position: absolute;
  top: 300px;
  width: 300px;
  -webkit-animation: asteroid-rotate 3s ease-in-out infinite alternate;
  animation: asteroid-rotate 3s ease-in-out infinite alternate;
}

@-webkit-keyframes asteroid-rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(860deg); }
}

@keyframes asteroid-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(860deg); }
}











  